*{
	box-sizing: border-box;
}

html{
	width: 100vw;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	html{
		width: 100vw;
	}
	
  header, main, footer {
    padding-left: 0;
  }

  .homepageSearch{
  	margin-left: 5rem;
		margin-right: 5rem;
  }
}

.bx-menu{
	font-size: 24px;
	margin: 8px;
	color: #fff;
	background-color: #2b2a33;
	padding: 8px;
	border-radius: 12px;
}

.hamburger{
}

.page{
	display: flex;
	flex-direction: row;
}

.row{
	display: flex;
	flex-direction: row;
}

.homepageSearch{
	margin-left: 25rem;
	margin-right: 25rem;
	flex: 100%;
}