*{
	box-sizing: border-box;
}

header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

.bx-menu{
	font-size: 24px;
	margin: 8px;
	color: #fff;
	background-color: #2b2a33;
	padding: 8px;
	border-radius: 12px;
}

.hamburger{
}

.page{
	display: flex;
	flex-direction: row;
}